$imageWidth: 400px;
$imageHeight: 400px;

.gallery {
  margin-top: 10px;
 
  &__images {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax($imageWidth, 1fr));

    @media screen and (max-width: 400px) {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
  }

  &__image-box {
    background-color: white;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
    transition: transform 0.3s ease-in-out;

    &__picture {
      width: 100%;
      height: $imageHeight;
      margin-right: 2px;
      cursor: pointer;
      position: relative;
    }

    &__external-link {
      position: absolute;
      bottom: 2px;
      right: 2px;
      color: white;
      font-size: 1.5em;
    }

    &__caption {
      text-decoration: none;
      overflow: hidden;

      /* prevent postcss from removing -webkit-box-orient - https://github.com/postcss/autoprefixer/issues/776  */
      /* autoprefixer: off */
      -webkit-box-orient: vertical;
      /* autoprefixer: on */

      display: -webkit-box;
      -webkit-line-clamp: 2;
      padding: 5px;

      & span {
        padding-right: 0.5em;
        font-size: 18px;
        color: orangered;
        font-weight: 800;
      }
    }
  }

  &__pinned-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(lightblue, 0.8);
    z-index: 10000;

    &__image {
      width: auto;
      max-width: 75vmax;
      max-height: 45vmax;
    }

    &__arrow {
      font-size: 2em;

      &--right {
        position: fixed;
        right: 0;
        font-size: 3em;
        cursor: pointer;
      }

      &--left {
        position: fixed;
        left: 0;
        font-size: 3em;
        cursor: pointer;
      }
    }
  }

  &__loading-indicator {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__spinner {
      top: 50%;
      font-size: 3em;
      width: auto;
    }
  }
}