@mixin input-with-border-bottom {
  border: transparent;
  background-color: transparent;
  border-bottom: 1px solid gray;
}

.search-bar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 30%;
  width: 100%;
  background: #f5f4f4;

  &--fixed{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 5px;
    background: #f5f4f4;
  }

  &__search-box {
    display: flex;
    flex: 1;
    justify-content: center;
    box-shadow: none;
    margin-right: 10px;
    margin-left: 20px;
    
    &__text {
      font-size: 24px;
      @media screen and (max-width: 400px) {
        width: 95%;
      }

      &:focus {
        @include input-with-border-bottom();
        outline: none;
        border-bottom: 1px solid darkcyan;
      }
      
      @include input-with-border-bottom();
    }
  }

  &__search-button {
    margin-left: 5px;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.1);
    border: none;
    background-color: #0395f4;
    cursor: pointer;
    border-radius: 2px;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease-out;

    &:focus, &:hover {
      outline: none;
      box-shadow: -2px 2px 10px 0px rgba(#444, 0.6);
      background-color: #03a9f4;
    }
  }

  &__options {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 18px;

    select {
      font-size: 18px;
    }
  }

  &__order-by {
    margin-right: 5px;
  }

  &__collapse-menu-button {
    font-size: 2em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 5px;

    &__button {
      // width: 30px;
      // height: 15px;
    }
  }
}

